:root{
    --dark: black;
    --titulo-font: courier new;
    --titulo-size: 25px;
    --titulo-peso: bold;
    --texto-corpo: arial;
    --texto-size: 16px
}

body {
    background-color: #808080;
}

@font-face {
    font-family: Common Pixel;
    src: url('http://fonts.cdnfonts.com/css/common-pixel');
}

@font-face {
    font-family: Lucida Console;
    src: url('https://www.tutorialbrain.com/css_tutorial/css_font_family_list/');
}

.titulo{
    text-align: center;
    font-size: 50px;
    font-family: common Pixel;
    color: #ffffff;
    background-color: #202020;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navegacao{
    width: 100%;
    height: 70px;
    display: flex;
    text-align: center;
    justify-content: space-evenly; 
    align-items: center; 
    background-color: black;
}


.navegacao li a{
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;

}

div a{
    padding: 0%;
    margin: 0%;
    direction: rtl;
    justify-items: center;

    background-color: black;
    height: 50px;
    
}

.image-container{
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin-right: 0;
}

.image-container:hover > .overlay{
    transform: translateY(0);
}

.picture{
    width: 100%;
    height: 100%;
}

.overlay{
    position: absolute;
    background-color: #C0C0C0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: all ease-in .3s;
}

.dispo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

div p{
    color: #ffffff;
    font-family: Lucida Console;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
}

footer{
    margin-top: 30px;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #202020;
    color: #ffffff;
    font-family: 'Times';
    font-size: 20px;    

}

footer p{
    padding-right: 30px;
}

form{
    margin-left: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    
}

form label{
    padding-bottom: 2px;
    padding-top: 16px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.transformacao{
    width: 25%;
    height: 30px;
    border: black;
    font-size: 20px;
}

form textarea{
    width: 25%;
    height: 200px;
}

/* form span{
    height: 50px;
    width: 500px;
} */

.checkmark{
    height: 15px;
    width: 20px;
    
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.button {
    display: inline-block;
    border-radius: 50px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 20px;
    margin-left: 50px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position:relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}


.pic{
    height: 200px;
    width: 250px;
    margin-left: 10px;
    margin-right: 5px;
    float: left;
    margin-bottom: 100px;
}

.titulo-float{
    font-family: var(--titulo-font);
    font-weight: var(--titulo-peso);
    font-size: var(--titulo-size);
    margin-top: 20px;
    margin-left: 3px;
}

main p{
    font-family: var(--texto-corpo);
    font-size: var(--texto-size);
}

#titulo-mapa{
    font-family: var(--titulo-font);
    font-size: var(--titulo-size);
    color: var(--dark);
    font-weight: var(--titulo-peso);
}

.mapa{
    clear: left;
    margin-top: 30px;
    text-align: center;
}

.mapa iframe{
    width: 600px;
    height: 450px;
    border: 1px solid var(--dark);

}

.menu{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}